body {
  font-family: 'Montserrat';
  font-style: normal;

  background: linear-gradient(rgba(239, 239, 239, 1), rgba(236, 248, 251, .25)), url('./background.svg');
}

header {
  width: 100%;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;
  
  background-color: #545253;
}

main {
  padding-top: 15px;
  padding-bottom: 42px; 
}

#head-form {
  width: 290px;
  
  margin: auto;
}

#container-head {
  padding: 15px 25px;
  background-color: #545253;
}

#container-head p {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;

  text-align: center;

  color: #FFFFFF;
}

.container-input {
  padding: 10px 25px;
  background-color: #FFF;

  display: flex;
  justify-content: center;
}

#container-form .container-input:last-child {
  padding-bottom: 22px;
}

.form-input {
  width: 100%;
  height: 50px;

  font-weight: 300;
  font-size: 16px;
  line-height: 30px;
  padding-left: 10px;
  color: #747375;
  
  border: 1px solid #D8D8D8;
  border-radius: 4px;

  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.form-input:focus {
  outline: 0;
}

.error {
  border: 2px solid rgba(255, 0, 0, 0.5);
}

#state {
  width: 50%;
  margin-left: 10px;
}

.form-button {
  width: 100%;
  height: 48px;

  cursor: pointer;

  border: none;
  border-radius: 100px;

  background-color: #F6931D;
}

.form-button > span {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: 0.85px;

  color: #FFFFFF;
}

#advert {
  width: 290px;
  height: 235px;
  margin: auto;
  margin-top: 42px;
}

#container-advert {
  border: 2px solid #A0BC57;
}

#container-advert legend {
  margin: 0 auto;
  padding: 0 10px;

  color: #545253;

  font-weight: 600;
  font-size: 15px;
  line-height: 15px;
}

#advert-info {
  padding: 15px;
  margin: 15px;

  background: rgba(255, 255, 255, 0.75);
  mix-blend-mode: normal;
  opacity: 0.9;
}

.info-header {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;

  color: #A0BC57;
}

.info-title {
  margin-bottom: 12px;

  font-weight: 300;
  font-size: 20px;
  line-height: 24px;

  color: #545253;
}

.info-brief {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;

  color: #545253;
}

.info-brief a {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;

  text-decoration: none;

  color: #6EB7C2;
}



/* STARTS: This media query applies styles to devices 767px OR higher. */

@media (min-width: 767px) {
  body {
    height: 100%;
  }

  #head-form {
    width: 670px;
  }

  #container-form .container-input:first-child {
    padding-top: 29px;
  }

  #container-form .container-input:last-child {
    padding-bottom: 27px;
  }

  .form-input {
    padding-left: 25px;
  }

  #state {
    margin-left: 30px;
  }

  #submit {
    width: 334px;
  }

  #advert {
    width: 404px;
  }

  #container-advert legend {
    padding: 0 50px;
  }
}

/* FINISH: This media query applies styles to devices 767px OR higher. */